BeautifulSoup==3.2.1
Django==1.10.5
appdirs==1.4.0
argparse==1.2.1
beautifulsoup4==4.5.3
dj-database-url==0.4.2
gunicorn==19.6.0
html5lib==0.999999999
packaging==16.8
psycopg2==2.6.2
pyparsing==2.1.10
python-dateutil==2.6.0
simplejson==3.10.0
six==1.10.0
webencodings==0.5
whitenoise==3.3.0
wsgiref==0.1.2
